figure {
    margin-left: 0px;
    margin-right:0px;
}

.playbutton > summary {
    display:flex;
    padding:10px;
    list-style: none;
    border:1px solid black;
    width:7em;
    height:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color:white;
    font-size: 1.1em;
    background-color: black;
    border-radius:5px;
    margin-left: auto;
    margin-right: auto;
}

.fakeclick-intro > summary {
    height:auto;
    list-style: none;
    text-decoration: underline dotted red;
}

.real-intro {
    display:none;
}

.fakeclick-intro {
    display: none;
} 

.laugh > details {
    display: inline-block;
    margin: 0;
  }

.J {
    display: inline-block;
    margin: 0;
  }

.B {
    display: inline-block;
    margin: 0;
  }

.B > summary {
    text-decoration: underline dotted green;
    list-style: none;
    text-wrap: wrap;
    display: inline-block;
    margin: 0;
}

.J > summary {
    text-decoration: underline dotted red;
    list-style: none;
    display: inline-block;
    margin: 0;
  }

/****note to self - check href indices****/