figure {
    margin-left:0px;
    margin-right: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.hide {
    display: none;
}

details summary {
  list-style: none;
}

.flexcon {
  display:flex;
}

.reg {
  text-align: left;
  font-size: 2em;
  font-family:'Courier New', Courier, monospace;
}

.barty {
  text-align: right;
  font-size: 2em;
  font-family:'Courier New', Courier, monospace;
}

.sirius {
  text-align: center;
  font-size: 2em;
  font-family:'Courier New', Courier, monospace;
}

.link {
  text-decoration: underline 1px #3f8dde;
  color:#3f8dde;
}


/****image credits 


play and pause 
<a href="https://www.flaticon.com/free-icons/pause" title="pause icons">Pause icons created by Those Icons - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/google-play-music" title="google play music icons">Google play music icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/play" title="play icons">Play icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/pause" title="pause icons">Pause icons created by inkubators - Flaticon</a> 

clock 
<a href="https://www.flaticon.com/free-icons/alarm" title="alarm icons">Alarm icons created by meaicon - Flaticon</a>

spotify 
https://www.pngegg.com/en/png-wgyre/download

back button 
<a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Bingge Liu - Flaticon</a>

video call 
<a href="https://www.flaticon.com/free-icons/video" title="video icons">Video icons created by Rizki Ahmad Fauzi - Flaticon</a>

phone 
<a href="https://www.flaticon.com/free-icons/phone" title="phone icons">Phone icons created by Gregor Cresnar - Flaticon</a>

hourglass 
<a href="https://www.flaticon.com/free-icons/hour-glass" title="hour glass icons">Hour glass icons created by Freepik - Flaticon</a>


******/ 



/*****************kudos*****************/ 
#workskin ~ #feedback #kudos_message {
    font-size: 0;
}
  
#workskin ~ #feedback #kudos_message.notice::after {
    font-size: 12pt;
    padding: 10px;
    display: block;
    content: "Thank you for leaving kudos!";
}
  
#workskin ~ #feedback #kudos_message.kudos_error::after {
    content: "You have already left kudos here. :))";
    font-size: 12pt;
    padding: 10px;
    display: block;
}


/***emails la temperanza***/
/* La_Temperanza email  https://archiveofourown.org/works/7953412 */
.ewindow {
    text-align: justify;
    margin: 0px auto 40px auto;
    max-width: 600px;
    min-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .attach {
    /* background-color: #fff; */
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    margin: 0.25em;
    padding: 0.25em;
    cursor: pointer;
    display: inline-table;
  }

  .attach:hover {
    background: lightblue;
  }

  .attach::before {
    content: '\1F4CE';
  }

  .attach u {
    padding-left: 5px;
  }
  
   .topbar {
    background-color: #404040;
    color: #FFFFFF;
    /* border-color: #404040; */
    /* border-style: solid; */
    cursor: pointer;
    /* width: 66%; */
    padding: 2px;
    height: 1.5em;
  /* overflow: hidden; */
    /* text-overflow: clip; */
    margin: 0px auto;
    border: 1px solid #cfcfcf;
    border-bottom: none;
  }
  
   .topbar:before {
    content: 'Email';
    position: relative;
    float: left;
    font-weight: bold;
    padding: 0px 3px;
    width: 85%;
  }
  
   .topbar:after {
    content: ' _ X';
    position: relative;
    font-weight: bold;
    padding-right: 5px;
    float: right;
    color: #cfcfcf;
    -webkit-transform: scale(1.5, 1.0);
    -moz-transform: scale(1.5, 1.0);
    -ms-transform: scale(1.5, 1.0);
    -o-transform: scale(1.5, 1.0);
    transform: scale(1.5,1.0);
    cursor: pointer;
  }
  
   .textfield {
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    /* margin-top: 0;
    margin-bottom: 0; */
    /* width: 66%; */
    padding: 2px 2px 2px 10px;
    /* color: #000000;
    background-color: #FFFFFF; */
    /* text-overflow: clip; */
    margin: 0px auto;


  }

  .email-sign {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    display: inline-flex;
  }
  
   .ebody {
    /* width: 66%; */
    padding: 10px;
    text-align: justify;
    /* color: #000000;
    background-color: #FFFFFF; */
    /* margin-left: auto;
    margin-right: auto; */
    /* overflow: auto; */
    display: block;
    /* min-height: 250px; */
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    margin: 0px auto;
  }
  
   .ebody::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
   .ebody::-webkit-scrollbar:vertical {
    width: 12px;
  }
  
   .ebody::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  
   .ebody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }
  
   .ebody::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }
  
   .buttonbar {
    border-color: #cfcfcf;
    background-color: #f5f5f5;
    color: #000000;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin-top: 0px;
    margin-bottom: 0px;
    /* width: 66%; */
    padding: 2px;
  height: 1.5em;
  /* overflow: hidden; */
    text-overflow: clip;
    margin: 0px auto;

  }
  
   .buttonbar:after {
    content: 'Reply | Forward | Delete';
    position: relative;
    float: left;
    padding: 0px 3px;
    cursor: pointer;
  }

/****resend drama****/
/* la temperanza texting https://archiveofourown.org/works/6434845/chapters/14729722 */
.phone {
  max-width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: table;
  margin: 0px auto 50px auto;
  font-size: 16px;
}

.grouptext-info {
    color: red;
    font-size: 12px;
    float: right;
    clear: both;
    margin-top: -9px;
}

.not-sent {
    left: -25px;
  }
  
.not-sent::before {
  content: url(https://i.imgur.com/HYHA5Sz.png);
  position: absolute;
  right: -27px;
  cursor: pointer;
}

.not-sent-cont {
    float: right;
    clear: both;
}

.not-sent-cont .breply {
    left: -25px;
}

.not-sent-pic {
    position: absolute;
    right: -4px;
    cursor: pointer;
    top: 7px;
}

.not-sent-cont details.outer-menu, 
.not-sent-cont .outer-menu summary {
    position: relative;
}

.outer-menu:not([open]) .inner-menu
{
    display: none;
}

.outer-menu[open] .inner-menu
{
    display: flex;
    padding: 10px;
    position: absolute;
    background: white;
    color: black;
    right: -3px;
    border: 1px lightgray solid;
    top: 35px;
    z-index: 10;
}

.outer-menu[open] .inner-menu:hover {
    background-color: lightblue;
    cursor: pointer;
}

/* if we allow the resent message to "work" */
.not-sent-cont:has(.send-true.inner-menu[open]) .grouptext-info,
.not-sent-cont:has(.send-true.inner-menu[open]) .outer-menu
{
    display: none;
}

.not-sent-cont:has(.send-true.inner-menu[open]) .breply
{
    left: 0px;
}

/* if we do NOT allow the resent message to "work" */
.not-sent-cont:has(.send-false.inner-menu[open]) .resend-response,
.not-sent-cont:has(.send-false.inner-menu:not([open])) .resend-prompt
{
    display: inline-block;
}

.not-sent-cont:has(.send-false.inner-menu:not([open])) .resend-response,
.not-sent-cont:has(.send-false.inner-menu[open]) .resend-prompt
{
    display: none;
}

p.header {
    margin-bottom: 20px;
}
  
.header {
  min-width: 300px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #b2b2b2;
  color: #000000;
  font-weight: bold;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: -2em;
  text-align: center;
  text-transform: capitalize;
  display: table;
}

.messagebody {
    /* background-color: #FFFFFF; */
    display: table;
    padding-left: .5em;
    padding-right: .5em;
  }

  .text {
  float: left;
  color: black;
  margin: 0px 0px 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 75%;
  clear: both;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  left: -.5em;
  bottom: 0px;
  width: 0.5em;
  height: 1em;
  border-right: 0.5em solid #e5e5ea;
  border-bottom-right-radius: 1em 0.5em;
}

.breply {
  float: right;
  color: #FFFFFF;
  margin: 0px 0px 0.5em;
  border-radius: 1em;
  padding: 0.5em 1em;
  background: #1289fe;
  max-width: 75%;
  clear: both;
  position: relative;
}

.breply::after {
  content: "";
  position: absolute;
  right: -0.5em;
  bottom: 0px;
  width: 0.5em;
  height: 1em;
  border-left: 0.5em solid #1289fe;
  border-bottom-left-radius: 1em 0.5em;
}

.time {
  min-width: 295px;
  /* color: #7B7C80; */
  opacity: 0.5;
  font-size: .75em;
  padding-bottom: .5em;
  padding-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  margin-bottom: 0.5em;
  text-align: center;
  display: table;
}

.time img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-flex;
  margin-bottom: -5px;
}

.grouptext {
  color: #7B7C80;
  font-size: .75em;
  padding-bottom: .5em;
  padding-top: 0px;
  margin-left: .5em;
  margin-bottom: -1.5em;
  text-align: left;
  display: table;
  clear: both;
}

.typing-indicator {
  background-color: #e6e7ed;
  width: auto;
  border-radius: 1em;
  padding: .5em 1em;
  display: table;
  margin: 0 0 .5em;
  position: relative;
  overflow: hidden;
  text-align: left;
  clear: both;
}

.typing-indicator::before,
.typing-indicator::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #e6e7ed;
}

.typing-indicator::after {
  height: 6px;
  width: 6px;
  left: -6px;
  bottom: -6px;
}

.typing-indicator span {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span {
  height: .65em;
  width: .65em;
  float: left;
  margin: .425em 0 .425em .25em;
  margin-left: 0.25em;
  background-color: #9e9ea1;
  display: inline-block;
  border-radius: 50%;
  opacity: .5;
}

.typing-indicator span:first-child {
  margin-left: 0;
}

.typing-indicator span:nth-child(1) {
  opacity: .85;
}

.typing-indicator span:nth-child(2) {
  opacity: .65;
}

.tagme {
  font-weight: 600;
  color:#3f8dde;
}

.tagyou {
  font-weight: 600;
}

/****spotify email****/

.middle {
  text-align: center !important;
}

.bigger {
  font-size: 1.3em;
  font-weight: 800;
}

.small {
  font-size: 0.9em;
}

.spotifybutton {
  display: flex;
  border: 1px solid #1ed760;
  height:40px;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  background-color: #1ed760;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  font-size: 0.75em !important;
}

.spotifyplay {
  display:flex;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  margin-top:20px;
  border-radius: 5px;
  height:120px;
  border:1px solid black;
}

.spotify-logo {
  display: block;
  height:35px;
}
/***jins phone****/

.phone-container-container{
  display:flex;
  justify-content:center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.phone-container {
  /* border-top: 1px solid #b1b1b3;
  border-bottom: 1px solid #b1b1b3; */
  max-width:400px;
  width:100%;
  height:600px;
  max-height:100%;
  display:flex;
  /* justify-content:center; */
  align-items:center;
  flex-direction:column;
  /* background-color:#bbb; */
  background: #3a4340;
  color:white;
}

.phone-container-scroll {
  max-width: 100%;
  height:600px;
  overflow-y: scroll;
}

.phone-off{
  background: #3a4340;
  color:white;
}
.phone-on{
  background: #3a4340;
  color:white;
}

/* change this lots, center it also */
.phone-alarm-x{
  /* content:""; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color:white;
  color:black;
  text-align:center;
  font-size:35px;
  margin-top:auto;
  margin: auto 0 50px 0;
}
.phone-alarm-x:hover{
  background-color:#bbb;
  transition:1s;

}
.phone-snooze{
  background-color:rgb(203, 201, 201);
  border-radius:15px;
  padding:4px 15px;
  margin-bottom:30px;
}
.phone-snooze:hover{
  background-color:gray;
}

.phone-time {
  margin-top:15px;
  margin-bottom: 0px;
  font-size: 4rem;
}
.phone-date {
  font-size: 0.8rem;
}
.phone-alarm-name {
  font-size: 0.8rem;
  margin-top:-10px;
}

.phone-notif{
  max-width:390px;
  width:80%;
  background-color:#1f2024;
  border-radius:15px;
  color:white;
  padding:10px 20px;
  padding-left:40px;
  margin:5px;
}

/* overflow none, ... out */
.phone-notif-header{
  font-weight:bold;
  overflow:hidden;
}
.phone-notif-header::before{
  content:"";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color:gray;
  display:inline-block;
  position:absolute;
  /* margin-top:1px; */
  margin-left:-35px;
}
.phone-notif-subheader{
  color:rgb(150, 150, 150);
  font-size:.8rem;
  font-weight:normal;
  margin-left:5px;
  /* overflow behavior  */
}

.phone-notif-time{
  color:lightgray;
  font-size:.8rem;
  font-weight:normal;
  margin-left:5px;
}

.phone-notif-header-email{
  font-size:.8rem;
}

/* hack fix */
.phone-notif p{
  margin:5px;
  /* display:flex; */
  /* justify-content:space-around; */
}

.phone-weather-icons{
  justify-content:space-between;
  display:flex;
}

.phone-call-name {
  font-size: 2em;
  text-align: center;
}

.phone-call-incoming {
  font-size: 0.6em;
  margin-top: 0px;
}

.phone-call-acceptcon {
  margin-top: 300px;
  width:60%;
  height:60px;
  justify-content: space-between;
  align-items: center;
}

.phone-call-declinecon {
  margin-top: 300px;
  width:60%;
  height:60px;
  justify-content: center;
  align-items: center;
}

.red-dot {
  border-radius: 50%;
  height:60px;
  width: 60px;
  background-color: red;
}

.green-dot {
  border-radius: 50%;
  height:60px;
  width: 60px;
  background-color: green;
}
/* .dc-green-line-50, .dc-green-line-20, .dc-green-line-85{
} */
.phone-update-progress-50 {
  border-bottom: 3px solid transparent;
  /* padding-left: 5px; */
  padding-top: 5px;
  /* padding-bottom:10px; */
  margin-bottom:10px;
  margin-left:5px;
  border-image: linear-gradient(to right, #0481FF 50%, #DADBDC 50%);
  border-image-slice: 1;
}

.phone-notif-header-sp{
  font-weight:bold;
  overflow:hidden;
}

.phone-notif-logo {
  max-height: 35px;
  max-width:35px;
  border-radius: 50%;
  position:absolute;
  margin-left:-35px;
  display:inline-block;
}

.phone-notif-alarm {
  max-height: 25px;
  max-width:25px;
  border-radius: 50%;
  position:absolute;
  margin-left:-30px;
  display:inline-block;
  margin-top:3px;
}

.phone-notif-hourglass {
  max-height: 20px;
  max-width:20px;
  border-radius: 25%;
  position:absolute;
  margin-left:-28px;
  display:inline-block;
  margin-top:3px;
}

.phone-sp-60 {
  border-bottom: 3px solid transparent;
  /* padding-left: 5px; */
  padding-top: 5px;
  /* padding-bottom:10px; */
  margin-bottom:10px;
  margin-left:5px;
  border-image: linear-gradient(to right, white 60%, #3a4340 50%);
  border-image-slice: 1;
}

.phone-sp-50 {
  border-bottom: 3px solid transparent;
  /* padding-left: 5px; */
  padding-top: 5px;
  /* padding-bottom:10px; */
  margin-bottom:10px;
  margin-left:5px;
  border-image: linear-gradient(to right, white 50%, #3a4340 50%);
  border-image-slice: 1;
}

.phone-noti-sp-time {
  display: flex;
  justify-content: space-between;
}

.phone-noti-sp-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height:25px;
}

.phone-noti-sp-img > img {
  display:inline-block;
  height:30px;
}

.sp-play {
  display:inline-block;
  height:20px !important;
}


/***linkedin****/

.li-BG {
  max-width:100%;
  height: auto;
  padding:5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lipost-con {
  display: block; 
  background-color: white;
  border-radius: 3px;
  width:96%;
  padding:5px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
  margin-bottom: 5px;
  border-top:1px solid #a2a2a2;
}

.liheader-con {
  display:flex;
  align-items:center;
  width:auto;
  height:auto;
  padding:1px;
  margin-top: 0px;
}

.li-pfp {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background: #191414;
  color: white;
  margin: 5px;
} 

.li-con {
  display: block;
}

.li-h2{
  font-size: 0.9em;
  color: black;
  margin-left: 5px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.li-h3{
  font-size: 0.7em;
  color: #a2a2a2;
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.lipost-body{
  display:block;
  width:98%;
  height:auto;
  margin:auto;
  padding-left:9px;
  padding-right: 9px;
}

.lihashtags {
  color:blue;
  font-weight:thin;
  font-size:0.85em;
}

.lifollow {
  margin-right:7px;
  margin-left:auto;
  font-size:0.85em;
  color:black;
}

.lifollow:hover {
  color:blue;
}

.li-interactbar {
  display:flex;
  max-width:100%;
  align-items:center;
  justify-content: space-around;
  height:auto;
  border-top:1px solid #a2a2a2;
  border-bottom:1px solid #a2a2a2;
}

.li-interactbutton {
  display:flex;
  align-items:center;
  width:auto;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left:2.5px;
  padding-right:2.5px;
  color:#5A5A5A;
  font-size:0.85em;
}

.li-interactbutton:hover {
  background-color:#a2a2a2;
}

.li-interacticon {
  width: 0.8em;
  height: 0.8em;
  margin: 2px;
}

.li-interacticonpfp {
  width: 1.3em;
  height: 1.3em;
  margin: 5px;
}

/*amend amend amend*/
.li-comment1 {
  display:flex;
  width:100%;
  margin:auto;
  margin-left:35px;
}

.li-line {
  border-bottom: 1px solid #a2a2a2;
  width: 100%;
}

/***li job posting***/

.li-jobcomname {
  font-weight: 600;
  margin-left: 45px;
  display: flex;
  align-items: center;
  height:30px;
  margin-top: 10px;
}

.li-jobcomname::before {
  content:"";
  height:30px;
  width: 30px;
  border-radius: 30%;
  background-color:gray;
  display:inline-block;
  position:absolute;
  /* margin-top:1px; */
  margin-left:-35px;
}

.greytxt {
  color: #a2a2a2;
}

.underline {
  text-decoration: underline solid black;
}

.li-jobh1 {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.3em;
}

.li-jobh2 {
  margin-top: 0px;
  font-weight: 100;
  font-size: 0.6em;
}

.li-jobh3 {
  font-size: 0.8em;
  margin-left: 10px;
}


.li-jobdet {
  background-color: #daebd1;
  margin-left: 5px;
  margin-right: 5px;
  padding:3px;
  border-radius: 5px;
  font-size: 0.8em;
}

.li-jobskillmatch {
  background-color: #e8e8e8;
  margin-left: 5px;
  margin-right: 5px;
  padding:3px;
  border-radius: 5px;
  font-size: 0.8em;
  margin-top: 8px;
}

.li-easyapply {
  margin-top: 10px;
  margin-left: 5px;
  background-color: #0a66c2;
  border: 1.5px solid #0a66c2;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right:20px;
  color:white;
  border-radius: 20px;;
  font-weight: 600;
}

.li-easyapply:hover {
  background-color: #084d92;
} 

.li-jobsave {
  margin-top: 10px;
  margin-left: 5px;
  border: 1.5px solid #0a66c2;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 20px;;
  font-weight: 600;
  color:#0a66c2;
}

.li-jobsave:hover {
  background-color: #e7f3fe;
}

.li-jobAI {
  display:flex;
  width:80%;
  height:40px;
  padding:10px;
  align-items: center;
  overflow-x: scroll;
}

.li-jobAI > div {
  font-size: 0.9em;
  min-width: 250px;
  margin-right: 5px;
  background-color: #f4f2ee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  -webkit-border-radius: 10px 10px 0px 10px;
  -moz-border-radius: 10px 10px 0px 10px;
}

.li-circle {
  display: flex;
  width:25px;
  height: 25px;
  padding:10px;
  border-radius: 50%;
  margin-right: 5px ;
  border:1px solid #a2a2a2;
}

/******teams********/

.w-text {
  float: left;
  color: #000000;
  margin: 0 0 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background: #e5e5ea;
  max-width: 75%;
  clear: both;
  position: relative;
}

.p-reply {
  float: right;
  color: #FFFFFF;
  margin: 0 0 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background: #5c5fc7;
  max-width: 75%;
  clear: both;
  position: relative;
}

.teams-header {
  display:flex;
  border-bottom:1px solid #a2a2a2;
  align-items: center;
  height:2.5em;
  max-width: 300px;
  margin-left: auto;
  margin-right:auto;
  position:relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.li-h2{
font-size: 0.9em;
color: black;
margin-left: 5px;
font-weight: bold;
margin-bottom: 0px;
margin-top: 0px;
}

.li-h3{
font-size: 0.7em;
color: #a2a2a2;
margin-left: 5px;
margin-top: 0px;
margin-bottom: 0px;
}

.teams-back {
  display: block;
  height:30px;
}

.teams-video {
  display: block;
  height:30px;
  position:absolute;
  right: 50px;
  left:auto;
}

.teams-phone {
  display: block;
  height:24px;
  position:absolute;
  right: 20px;
}

.teams-contact {
  display:inline-block;
  margin-left:45px;
}

.teams-contact::before{
  content:"";
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color:gray;
  display:inline-block;
  position:absolute;
  /* margin-top:1px; */
  margin-left:-35px;
}

.emoji-txt {
  font-size: 2em;
}

.teams-error {
  background-color: #fef4fa;
  border:1px solid #e5dfe6; 
  padding:5px;
  font-size: 0.7em;
  width:100%;
  color:#b27cb1;
}

.teams-error::after {
  content:'X';
  float:right;
}

/* ---------------chrome history, made by jihn------------------------- */
/* https://codepen.io/jihnari/pen/jOaNgNZ */

/*chrome history*/
div.ch-table p
{
  margin-top:0px;
  margin-bottom:0px;
}

.ch-header{
  font-family: 'Uni sans', 'Whitney', sans-serif;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
  padding: 4px 5px 0px;
}

.ch-header p {
  margin: 0px;
}
.ch-title{
  font-size:1.4em;
  padding-top:5px;
}
.ch-search-icon{
  /* float:right; */
  cursor: pointer;
  height:2em;
  /* clear:both; */
  position: absolute;
  top: 0px;
  right: 0px;
}

.ch-sub-header{
  color: #1A72E8;
  font-size: 11px;
  margin-bottom: 8px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.ch-sub-header p {
  margin: 0px;
}

.ch-date{
  color: #5f6267;
  font-size: 12px;
  margin-left: 10px;
  margin-top: -8px;
  padding-bottom: 10px;
}

.ch-table {
  display: table;
  width: 95%;
  table-layout: fixed;
  /* position: relative; */
  /* background: pink; */
  padding-left: 8px;
  margin-top: -13px;
  padding-right: 4px;
}

.ch-row{
  display: table-row;
  /* font-size: 14px; */
  /* width: 100%; */
  /* height: 21px; */
  border: 1px solid gray;
  /* margin: 0px 0px 0px 0px; */
  /* padding-left: 10px; */
  /* margin-bottom: -10px; */
}

.ch-dot-cell{
  display: table-cell;
  width:40px;
  vertical-align: middle;
}
.ch-dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: #F2F3F5;
}
.ch-site-cell{
  display: table-cell;
  padding-right:15px;
}
.ch-page-name{
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  margin-top: 10px;
}
.ch-page-link{
  font-size: 11px;
  color: #5f6267;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
}
.ch-x-cell{
  width:30px;
  display:table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.ch-x{
  margin:0px 10px 0px 5px;
  width:20px;
}

.ch-hide {
  display: none;
}


/* delete later */
.ch-name-wrapper{
  display:inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.signal-gc-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-bottom:5px;
  background-color: #bbb;
}
.signal-gc-name{
  font-size:1.1em;
  margin-top:5px;
  display: block;
}
.signal-gc-subname{
  font-size:.9em;
  display:block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.signal-gc-name-line{
  padding-bottom:5px;
  box-shadow: 0px 8px 8px -10px #888888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clear{
  clear:both;
}
table
{
    width: 100%;
}

.chrome-window {
  background-color: white;
  font-family: sans-serif;
  min-height: 450px;
  overflow-y: hidden;
  /* max-width: 600px; */
  position: relative;
  /* padding: 10px; */
  /* border: 1px solid gray; */
  /* margin: 10px; */
  
  /* border-top: 30px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  /* padding-top: 10px; */
}

.chrome-window-ext {
  /* width: 100%;
  position: relative;
  height: 15px;
  background-color: gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  color: black;
  max-width: 600px;
  min-width: 250px;
  position: relative;
  border-top: 30px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  margin: 10px auto;
}

.ch-window-ext-title {
  font-family: monospace;
  color: white;
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin: auto;
}

.chrome-window-ext .dot-cont {
  top: -41px;
  left: 5px;
  z-index: 10;
}

.ch-row:has(details[open]) {
  display: none;
}

.ch-restore-icon {
  margin: 0px 10px 0px 5px;
  /* width:20px; */
  background: lightgray;
  border-radius: 30px;
  padding: 2.5px;
  height: 15px;
  width: 15px;
}

.read-toggle-img {
  margin: 0px auto;
}

/* toggle read more */
.readmore-div:has(details:not([open])) .read-toggle-img.more, 
.readmore-div:has(details[open]) .read-toggle-img.less {
  display: block;
}

.readmore-div:has(details:not([open])) .read-toggle-img.less,
.readmore-div:has(details[open]) .read-toggle-img.more {
  display: none;
}

.chrome-window-ext:has(.readmore-toggle:not([open])) .chrome-window {
  height: 450px;
}

.chrome-window-ext:has(.readmore-toggle[open]) .chrome-window {
  height: auto;
}

.readmore-div {
  /* position: absolute; */
  z-index: 10;
  /* bottom: 0;
  left: 50%; */
  cursor: pointer;
  position: relative;
  margin-top: -30px;
}

.readmore-div p , .readmore-div details {
  margin: 5px;
}

/* .readmore-div summary:after {
  content: '';
  bottom: 0px;
  width: 100%;
  height: 10%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255, 0), white);
} */

/* toggle history items in chrome */
.ch-row:has(:not([open])) .ch-restore-icon,
.ch-row:has(details[open]) .ch-x {
  display: none;
}

.ch-row:has(:not([open])) .ch-x,
.ch-row:has(details[open]) .ch-restore-icon {
  display: inline;
}

.ch-restore {
  display: none;
  margin: 0px;
}

.chrome-window:has(details:not(.ch-restore)[open]) .ch-restore {
  display: inline;
}

.chrome-window:has(.ch-restore[open]) .ch-row {
  display: table-row !important;
}

/* history restore in chrome toggle , for each row */
.ch-restore:not([open]) .ch-hist-clear-open,
.ch-restore[open] .ch-hist-clear {
  display: none;
}

.ch-restore[open] .ch-hist-clear-open,
.ch-restore:not([open]) .ch-hist-clear {
  display: inline;
}
/* --------------------------------------------------------------- */


/* twitter, with threads https://archiveofourown.org/works/35006431 */

.tw {
  max-width: 500px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px auto;
  border-style: solid;
  border-width: .1em;
  border-color: lightgray;
  padding: 1em;
}

.tw-table {
  table-layout: fixed;
  vertical-align: top;
  width: 100%;
  border-collapse: collapse;
}

.tw-td-icon {
  width: 45px;
  height: 45px;
}

.tw-td-thread {
  border-left-style: solid;
  border-color: rgb(207, 217, 222);
  border-width: 2px;
}

.tw-icon-img {
  width: 45px;
  height: 45px;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}

.tw-post-verified {
  height: 1em;
  padding-left: 0.2em;
  position: relative;
  top: 0.1em;
  content: url("https://i.imgur.com/2oTuVdz.png");
}

.tw-post {
  overflow: hidden;
  padding-left: 0.5em;
}

.tw-post-meta-user {
  font-weight: bold;
}

.tw-post-meta-handle {
  color: slategray;
}

.tw-post-meta-time {
  color: slategray;
}

.tw-post-meta-time:before {
  content: '\0B7';
  padding-right: 0.2em;
}

.tw-embed {
  border-style: solid;
  border-width: .1em;
  border-color: darkgray;
  padding: 1em;
  border-radius: 0.5em;
}

img.tw-embed
{
  width: 85%;
}

.tw-ref {
  color: rgb(29, 155, 240);
  cursor: pointer;
}

.tw-reply {
  color: slategray;
}


.tw-share details {
  display: flex;
  width: 100%;
  margin: 10px auto;
  height: 20px;
}

/* 
.tw-show-open is displayed when the details is open, 
hidden when the deatils is closed.
.tw-show-close is displayed when the deatils is closed
hidden when the defails is open.
*/
.tw-share details[open] .tw-show-open,
.tw-share details:not([open]) .tw-show-close
{
  display: flex;
}

.tw-share details[open] .tw-show-close,
.tw-share details:not([open]) .tw-show-open
{
  display: none;
}


.tw-share {
  /* background-image: url("https://64.media.tumblr.com/d46b27345c9cea4790756a57e42ccb6c/f2497834d8606ba7-ad/s500x750/10e4a6e3ba606786d94c2d1ddb099bf2516fd704.png"); */
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  width: 100%;
  min-height: 25px;
  display: flex;
  justify-content: space-around;
  margin-top: 6px !important;
  position: relative;
}

.tw-share-icon {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 100%;
  min-height: 20px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.tw-share-quotes {
  background-image: url("https://i.imgur.com/HOvzkw7.png");
  padding-left: 25px;
  background-position-y: -1px;
}

.tw-share-quotes.tw-show-open {
  background-image: url("https://i.imgur.com/xBcBsT9.png");
}

.tw-share-retwts {
  background-image: url("https://i.imgur.com/uOLZWeh.png");
  background-position-y: -1px;
  padding-left: 27px;
}

.tw-share-retwts.tw-show-open {
  background-image: url("https://i.imgur.com/hlKje5j.png");
}

.tw-share-hearts {
  background-image: url("https://i.imgur.com/s6gMzzW.png");
  background-position-y: -1px;
  padding-left: 27px;
}

.tw-share-hearts.tw-show-open {
  background-image: url("https://i.imgur.com/L0R5oMT.png");
}

.tw-share-links {
  background-image: url("https://i.imgur.com/WMCCktQ.png");
  background-position-y: -4px;
  padding-left: 25px;
}

.tw-share-links.tw-show-open {
  background-image: url("https://i.imgur.com/rcwDeZu.png");
}

.tw-td-rt-1 {
  width: 45px;
  background-image: url("https://64.media.tumblr.com/a926f84106d9146ffdff9f264bb67e1f/f2497834d8606ba7-e9/s75x75_c1/1db007980d847c8aa07beb1b230a398652a3a340.png");
  background-repeat: no-repeat;
  background-size: 1em;
  background-position-x: right;
  background-position-y: center;
  padding-bottom: 0.2em;
}

.tw-td-rt-2 {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

.tw-rt {
  color: rgb(83, 100, 113);
  font-weight: bold;
  font-size: small;
}

.tw p {
  margin: 0;
}

.tw-share details > summary {
    list-style: none;
}

.tw-share details summary::-webkit-details-marker,
.tw-share details summary::marker {
  display: none;
}

/*****paywall article****/

.mobilecon {
  width:300px;
  margin-left:auto;
  margin-right:auto;
  overflow-x: hidden;
}

.border-solidbl {
  border:1px solid black;
}

.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.bolder {
  font-weight:900;
}

.lighter {
  font-weight:100;
}

/*rolling stone*/
.rs-headercon {
  display:flex; 
  width:300px; 
  height:auto; 
  margin-left:auto;
  margin-right:auto;
  border-bottom:1px solid black; 
  text-align:center; 
  justify-content:space-around;
  align-items:center;
}

.rs-headericon {
  height:2em;
  width:25px;
  padding:4px;
}

.rs-logo {
  height:2em;
  width:auto;
  margin-top:auto;
  margin-bottom:auto;
}

.rs-subscribe {
  height:auto;
  text-align:center; 
  justify-content:center;
  align-items:center;
  margin-left:0px;
  font-size:0.6em;
  background-color: #36008d;
  color:white !important;
  padding:8px;
  border-radius: 8px;
}

.rs-uhoh {
  font-size: 1.4em;
  font-weight: 600;
}

.rs-title {
  text-align:left;
  font-size:1.7em;
  margin-left:10px;
  margin-right:10px;
}

.rs-credits {
 text-align:left;
 font-size:0.8em;
 margin-top:2px;
 margin-bottom:2px;
 margin-left: 10px;
}

.rs-1p {
 margin-left:10px;
 margin-right:10px;
}

.rs-1p:first-letter {
  float: left;
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}

.rs-p {
  margin-left:10px;
  margin-right:10px;
}

.rs-endsub {
  text-align: center;
  font-size: 0.9em;
  font-family: 'Times New Roman', Times, serif;
}

.rs-endbuttoncon {
  display:flex;
  width:300px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
}

.rs-endbutton {
  font-size:14px;
  border:2px solid black;
  width:130px;
  padding:4px;
  font-weight: 900;
}

.rsbg-black {
  background-color: black;
  color:white;
}

.rs-endbutton:hover {
  background-color: #36008d;
  color:white;
}

/*fadeout by jihnari*/

.fadeout-article {
  position: relative;
}

.fadeout-article::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255, 0), white);
}


/****excel****/
.scroll {
width: 100%;
table-layout: fixed;
}

.scrollable {
overflow: scroll;
max-width: 100%;
}

.scroll1 {
width: 12px;
}

.scroll2 {
width: 15px;
}

.scroll3 {
    width:200px;
}

.freezetop {
position: sticky;
top: 0;
}

.freezeleft {
position: sticky;
left: 0;
}

.nofit {
width: 100%;
table-layout: fixed;
}

 .nofit1 {
width: 3%;
}

.nofit2 {
width: auto;
}

table.excel {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.8em;
}
    
table.excel th {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
    
table.excel td {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
    
 table.excel th:first-child,
 table.excel td:first-child {
    border-left: 1px solid gray;
}

table.excel tr {
height: 12px;
}

.spreadsheetlegend {
    background-color: gainsboro;
    color: dimgray;
    text-align: center;
}
    
.spreadsheetheader {
    text-align: center;
    font-weight: bold;
}
 
.selectedcell {
    border: 2px solid forestgreen;
}

.square {
    height: 6px;
    width: 6px;
    background-color: forestgreen;
    position: relative;
    left: 100%;
    bottom: -8px;
    border: 1px solid white;
}

.yellow1 {
    background-color: #fbbc04;
}

.yellow2 {
    background-color: #ffe599;
}

.yellow3 {
    background-color: #fff2cc;
}

.blue1 {
    background-color:#0b5394;
}

.blue2 {
    background-color: #3d85c6;
}

.blue3 {
    background-color: #9fc5e8;
}

.blue4 {
    background-color: #d0e0e3;
}

.blue5 {
    background-color: #073763;
}

.green1 {
    background-color: #45818e;
}

.black1 {
    background-color: black;
}

/*****banking*****/

.bank-header {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #073763;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bank-header span {
  font-size: 0.8em;
}

.bank-transactions {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bank-date {
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  background-color: dimgray;
  padding-top:12px;
  padding-bottom: 12px;
  color: white;
  font-weight: 600;
  text-align: center;
}

table.bank-transactions-input {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-style:hidden;
}

table.bank-transactions-input td {
  padding:12px;
}

table.bank-transactions-input td > span {
  font-size: 0.8em;
  font-style: italic;
}

table.bank-transactions-input tr:nth-child(even){
  background-color: #D3D3D3;
}

table.bank-transactions-input tr td:nth-child(2) {
  color: red;
  font-weight: bold;
}

.column1 {
  width:70%;
}

/* ------------------ google search results ---------------------- */
/* https://archiveofourown.org/works/8631214/chapters/53486839 */
.browser {
  min-width: 200px;
  max-width: 500px;
  margin: auto;
}

.search_autocomplete {
  border: 1px solid #aaa;
  /* padding: 5px 5px 5px 5px; */
  margin-top: 0px;
}

.search_autocomplete span {
  display: block;
  padding: 0px 5px;
}

.search_autocomplete span:first-of-type {
  padding: 5px 5px 0px 5px !important;
}

.search_autocomplete span:last-of-type {
  padding: 0px 5px 5px 5px !important;
}

.search_autocomplete span:hover {
  background: lightblue;
  cursor: pointer;
  color: black;
}

.search_logo {
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.search_bar {
  margin-top: 5px;
  margin-bottom: 0px;
}

.search_bar span {
  position: relative;
  display: block;
  margin: 0 0 0 0;
  padding: 5px;
}
.chrome_term {
  border: 1px solid #aaa;
}

.chrome_logo {
  font-weight: bold;
  font-size: x-large;
  font-family: "Lato", "Verdana", sans-serif;
}
.chromeold_logo {
  font-weight: bold;
  font-size: x-large;
  font-family: "Cardo", "Garamond", serif;
}
.chrome_blue {
  color: #4285F4;
  cursor: pointer;
}
.chrome_red {
  color: #DB4437;
  cursor: pointer;
}
.chrome_yellow {
  color: #F4B400;
  cursor: pointer;
}
.chrome_green {
  color: #0F9D58;
  cursor: pointer;
}

/*****convo rip*****/
.convo {
  font-family: "Courier New", courier, monospace;
  /* font-size: 18px; */
  text-transform: uppercase;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  border: 3px gray solid;
}

.bottom-rip {
  border-bottom: none;
}

.top-rip {
  border-top: none;
}

.convo p {
  padding: 5px;
}

.convo-name {
  font-weight: bold;
}

.convo-bottom-rip {
  height: 29px;
  width: 534px;
  display: block;
  margin: 0 auto;
  margin-top: -7px;
  padding-right: 0px;
}

.convo-top-rip {
  height: 29px;
  width: 534px;
  display: block;
  margin: 0 auto;
  margin-top: -7px;
  padding-right: 0px;
  margin-bottom: -14px;
}

/******time passes*****/

.fadein-time {
  height:200px;
  background: linear-gradient(to bottom,white 40%, black 100%);
}

.timeskip {
  height:500px;
  background: black;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadeout-time {
  height:200px;
  background: linear-gradient(to bottom,black 40%, white 100%);
}

/***RX***/
.rxscriptcon {
  display: block;
  background-color: #eee7d7;
  border: 2px gray;
  padding: 2em;
  max-width: 300px;
  height: auto;
  -webkit-box-shadow: -8px 10px 9px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 9px -1px rgba(0,0,0,0.75);
box-shadow: -8px 10px 9px -1px rgba(0,0,0,0.75);  margin-left: auto;
  margin-right: auto;
}


.rx-header {
  margin-left: 30px;
  font-size: 1.2em;
  font-weight: 600;
}

.rxlogo {
  height:3em;
  width:auto;
  float:left;
}

* ----------------------reddit mock ---------------------------- */
/* made by jihn https://codepen.io/jihnari/pen/jOmMoQX */

.reddit-img {
    max-width: 350px;
    /* filter: blur(0.7px); */
}

.text-color-gray {
    color: #9F9FA1;
  }
  .right{
    float:right;
  }
  
  .text-size-12{
    font-size:1.2em;
  }
  .text-bold{
    font-weight:bold;
  }
  .padding-left-20 {
    padding-left: 20px;
  }
  
  
/****news*****/
/*news*/
.news-header {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #b1b1b3;
  padding-bottom:5px;
}

.news-title {
  font-size: 1.2em;
  font-weight: bold;
}

.news-date {
  color: #9F9FA1;
}

.news-border {
  border-bottom: 1px solid #b1b1b3;
}

.news-read-more-button {
  position: absolute;
  bottom: 0;
  background: gray;
  border-radius: 6px;
  color: white;
  padding: 5px;
  margin: auto;
  text-align: center;
  left: 50%;
  margin-left: -50px;
}

/*fade*/
.fadeout {
  position: relative;
}

.fadeout::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255, 0), white);
}

.fadein {
  position: relative;
}

.fadein::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, white, rgba(255,255,255, 0));
}

.text-color-gray {
  color: #9F9FA1;
}

.text-size-12{
  font-size:1.2em;
}

  /*reddit*/
  /*
  i do not, i repeat do NOT remember making vr0-2. i mean, i remember thinking "i should fix that weird issue where sometimes things collapse instead of float", i remember sitting down, i remember thinking "what if tables" but i DO NOT remember what it does or how it works. idk if half of that even needs to be there and honestly at this point i dont care. i also remeber thinking "GOTTA NEST THOSE DIVS" which we... appparently did not do. so that's. that's cool. 
  
  the last thing we might wanna do here is use the fadeout function and place the 'view all comments' button over top of it. rn im tired tho. messing w relative/ablosute is one of my least favorite things. 
  */
  .rd-font{
    font-family:verdana, arial, helvetica, sans-serif;
    /* background-color: white; */
    /*make sure this didnt break everything*/
    /* color:black; */
    font-size: 13px;
    padding: 6px;
    max-width: 600px;
    margin: 30px auto;
  }
  .rd-view-box {
    background: #0079D3;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-weight:bold;
    padding: 7px;
    margin: 0px 5px -5px 5px;
    cursor: pointer;
  }
  .rd-signup-box {
    background: #0079D3;
    border-radius: 14px;
    text-align: center;
    color: white;
    padding: 7px 5px 7px 5px;
    margin: 0px 5px -5px 5px;
    font-size:0.8em;
  }
  .rd-sortby{
    font-size:0.8em;
    padding-left:5px;
  }
  .rd-photo-box {
    background: #d3dce0;
    border-radius: 18px;
    color: black;
    padding: 2px 10px 2px 10px;
  }
  .rd-name{
    text-align: center;
    font-weight:bold;
    font-size:1.2em;
  }
  .rd-header{
    font-weight:bold;
    font-size:1.1em;
    margin: -5px 0px -5px 0px;
  }
  .rd-dot { /*idx if i wanna go down this path*/
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    background-color: #bbb;
    margin-bottom: -15px;
  }
  .rd-div1 {
    border-bottom: 8px solid #EEEFF1;
    /* padding-bottom:18px; */
    /* padding-left:8px; */
    /* margin-bottom: 10px; */
    margin-left: -6px;
    margin-right: -6px;
  }
  .rd-div2{
    border-bottom: 1.5px solid #EEEFF1;
  }
  .rd-vote{
    height:1.8em;
    display: inline-block;
    padding-top:5px;
    padding-bottom:5px;
    cursor: pointer;
  }
  .rd-poster{
    font-size: .8em;
    margin-bottom: 15px;
  }
  .rd-op {
    color:#25A0ED;
    font-weight:bold;
    cursor: pointer;
  }

  .rd-op:hover {
    text-decoration: underline;
  }

  .rd-link{
    color:#25A0ED;
  }
  .rd-down-arrow {
    border: solid black;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0px 0px 2px 7px;
  }
  .rd-small{
    font-size: .8em;
    display: inline-block;
    padding-bottom:5px;
  }

  .rd-small > strong:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .rd-vr0 {
    display: table;
    padding: 10px 0px 0px 30px;
    border-bottom: 1px solid #EEEFF1;
  }
  .rd-vr1 {
    display: table;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 5px 5px;
    border-left: 1px solid #EEEFF1;
  }
  .rd-vr2 {
    display: table;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 5px 5px;
    border-left: 1px solid #EEEFF1;
  }
  .rd-vr-not {
    display: table;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
  }
  .rd-gray-text {
    /* color: #657685; */
    opacity: 0.7;
  }

  .rd-bubble {
    color: #787C7F;
    font-size: .8em;
    padding: 12px 5px 3px 5px;
    margin-bottom: 5px;
    border-radius: 16px;
    border: 1px solid #EEEFF1;
    /* cursor: pointer; */
    display: inline;
  }

  .rd-bubble p {
    display: inline;
    cursor: text;
  }
  
  .rd-bubble details, .rd-bubble summary {
    display: inline-block;
  }

  /* toggle reddit up / down vote, fake tri state */
  details.rd-up-cont[open] .unliked,
  details.rd-down-cont[open] .unliked,
  details.rd-up-cont:not([open]) .liked,
  details.rd-down-cont:not([open]) .liked {
    display: none;
  }

  .default-vote,
  details.rd-up-cont:not([open]) .unliked,
  details.rd-down-cont:not([open]) .unliked,
  details.rd-up-cont[open] .liked,
  details.rd-down-cont[open] .liked {
    display: inline-block;
  }

  /* toggle voter count on up / down */
  .rd-bubble:has(.rd-up-cont:not([open])):has(.rd-down-cont:not([open])) .up-vote,
  .rd-bubble:has(.rd-up-cont:not([open])):has(.rd-down-cont:not([open])) .down-vote,
  .rd-bubble:has(.rd-up-cont[open]) .down-vote,
  .rd-bubble:has(.rd-up-cont[open]) .default-vote,
  .rd-bubble:has(.rd-down-cont[open]) .up-vote,
  .rd-bubble:has(.rd-down-cont[open]) .default-vote
  {
    display: none;
  }

  .rd-bubble:has(.rd-up-cont[open]) .up-vote,
  .rd-bubble:has(.rd-down-cont[open]) .down-vote 
  {
    display: inline-block;
  }

  .inactive {
    display: none;
    cursor: not-allowed !important;
  }

  .rd-bubble:has(details[open]) details:not([open]) {
    display: none;
  }

 .rd-bubble:has(.rd-down-cont[open]) .rd-arrow-up.inactive,
 .rd-bubble:has(.rd-up-cont[open]) .rd-arrow-down.inactive {
    display: inline-block;
  }

  .rd-div1 p, .rd-vr.rd-div2 p {
    margin: 0px;
  }

  .reddit-comment-react details {
    margin: 0px;
  }

  .reddit-comment-react {
    display: inline-flex;
  }

/* toggle liked reddit COMMENT (like only) */
.reddit-react-like[open] .unliked,
.reddit-react-like:not([open]) .liked,
.reddit-react-dislike[open] .unliked,
.reddit-react-dislike:not([open]) .liked {
  display: none;
}

.reddit-react-like:not([open]) .unliked,
.reddit-react-like[open] .liked,
.reddit-react-dislike:not([open]) .unliked,
.reddit-react-dislike[open] .liked {
  display: inline;
}

.reddit-comment-react:has(details[open]) details:not([open]) {
  display: none;
}

.reddit-comment-react:has(.reddit-react-like[open]) .react-dislike.inactive,
.reddit-comment-react:has(.reddit-react-dislike[open]) .react-like.inactive
{
   display: inline-block;
}

.rd-comment-react-reply {
  padding-left: 13px;
  margin-top: -7px;
}

  .rd-left {
    margin-left: 2px;
  }
  
  .rd-arrow-text{
    padding-top:2px;
    mmargin-bottom:10px;
    vertical-align: super;
    display: inline-block;
  }
  .rd-arrow-up{
    padding-top:0px;
    padding-bottom:0px;
    height:1.5em;
    cursor: pointer;
  }
  .rd-arrow-down{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
      height:1.5em;
      cursor: pointer;
  }
  .rd-elispes{
    float:right;
    padding-right:10px;
    font-size:1.0em;
    cursor: pointer;
  }

  .reddit-comment-react details > summary  {
    list-style: none;
  }

  .reddit-comment-react details summary::-webkit-details-marker,
.reddit-comment-react details summary::marker {
  display:none;
}
/* --------------------------------------------------------------- */ 

/*****tiktok*****/

.cursive {
  font-family: cursive;
}

.tiktok-phone-container-container{
  display:flex;
  justify-content:center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tiktok-phone-container {
  /* border-top: 1px solid #b1b1b3;
  border-bottom: 1px solid #b1b1b3; */
  max-width:400px;
  width:100%;
  height:600px;
  max-height:100%;
  display:flex;
  /* justify-content:center; */
  flex-direction:column;
  /* background-color:#bbb; */
  border:1px solid black;
  background: #3a4340;
  color:white;
  position:relative;
}

.tiktok-background {
    background: black !important;
    display:flex;   
}

.tiktok-bg-video {
  width:400px;
  height:560px  
}

.tiktok-header {
  position:absolute;
  top:0px;
  width:100%;
  height:40px;
  display:flex;
  justify-content: space-evenly;
  /*background-color:black;*/
  color:white;
  align-items:center;
  font-size:0.85em;
  padding-top:5px;
}

.tiktok-footer {
  position:absolute;
  bottom:0px;
  width:100%;
  height:40px;
  display:flex;
  justify-content: space-evenly;
  border-top: 0.5px solid #3a4340 ;
  background-color:black;
  color:white;
  align-items:center;
  font-size:0.7em;
  padding-top: 3px;;
}

.tiktok-sidebar {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  font-size:0.7em;
  position:absolute;
  width:20px;
  height:350px;
  right:15px;
  bottom:50px;
}

.tiktok-circle {
   display:block;
   height:35px;
   width: 35px;
   background-color: white; 
   border-radius: 50%;
   margin-bottom: 10px;
   margin-top: 5px;
}

.tiktok-pfp {
    display:block;
    height:20px;
    width: 20px;
    background-color:  #FE2C55 ; 
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8em;
}

.tiktok-captions {
  position:absolute; 
  color:white;
  text-align:left;
  width:70%;
  height:auto;
  bottom:50px;
  margin-left:12px;
  font-size:0.9em;
}

.tiktok-username {
  font-weight:bold;
  font-size:1em !important;
}

.tiktok-icon {
    height:20px;
}

.tiktok-icon2 {
    height:30px;
}


.tiktok-cap1 {
  display:inline;
}

.tiktok-readmore {
  list-style:none;
  display:inline;
  font-weight:bold;
  font-size:0.9em;
}

.tiktok-plus {
    background-color: white;
    height:20px;
    width:30px;
    color:black !important;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.tiktok-plus-back {
    background-color: #25F4EE;
    height:20px;
    width:30px;
    color:black !important;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    margin-left: -5px;
}

.tiktok-plus-back::after {
    content: '';
    background-color: #FE2C55;
    height:20px;
    width:30px;
    color:black !important;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    margin-left: 10px;

}

.tiktok-con {
    display:flex;
    flex-direction: column;
    height:40px;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
}

.tiktok-footer-icon {
    height: 20px;
    width:20px;
}


.tiktok-cap1 span:last-child {
  display:none;
}

.tiktok-readmore span:nth-child(2) {
   display: none;
}

figure:has(details.tiktok-one[open]) 
.tiktok-one span:nth-child(2) {
   display: inline;
}

figure:has(details.tiktok-one[open]) 
.tiktok-one span:nth-child(1) {
   display: none;
}

figure:has(details.tiktok-one[open]) 
.tiktok-cap1 span:last-child {
  display:inline;
}


/***youtube***/

.YT-con {
  width:400px; 
  height:auto;
  background-color:#0f0f0f;
  margin-left:auto;
  margin-right:auto;
  font-family:"Roboto", "Arial", "sans-serif";
  color:white;
}

.YT-video-con {
  display:flex;
  width:100%;
}

.YT-video-thumbnail {
  width:100%;
}

.YT-more {
  height:25px;  
}

.YT-details-con {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.YT-details {
  display:block;
  color:white;
  margin-left:50px;
  padding-top:10px;
  padding-bottom:10px;
}

.YT-details::before {
  content:"";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:gray;
  display:inline-block;
  position:absolute;
  margin-left:-40px;
}

.YT-details span:last-of-type {
  color:#7B7C80;
  font-size:0.8em;
}

.YT-thumbnail-con {
  position:relative;
}
.YT-timestamp {
  position:absolute;
  right:10px;
  bottom:8px;
  background:black;
  opacity:0.5;
  padding:3px;
  border-radius:5px;
}

