figure {
  margin-right:0px;
  margin-left:0px;
}

.flexcon {
    display:flex;
}

.cursive {
  font-family: cursive;
}

.phone-container-container{
  display:flex;
  justify-content:center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.phone-container {
  /* border-top: 1px solid #b1b1b3;
  border-bottom: 1px solid #b1b1b3; */
  max-width:400px;
  width:100%;
  height:600px;
  max-height:100%;
  display:flex;
  /* justify-content:center; */
  flex-direction:column;
  /* background-color:#bbb; */
  border:1px solid black;
  background: #3a4340;
  color:white;
  position:relative;
}

.tiktok-background {
    background: black !important;
    display:flex;   
}

.tiktok-bg-video {
  width:400px;
  height:560px  
}

.tiktok-header {
  position:absolute;
  top:0px;
  width:100%;
  height:40px;
  display:flex;
  justify-content: space-evenly;
  /*background-color:black;*/
  color:white;
  align-items:center;
  font-size:0.85em;
  padding-top:5px;
}

.tiktok-footer {
  position:absolute;
  bottom:0px;
  width:100%;
  height:40px;
  display:flex;
  justify-content: space-evenly;
  border-top: 0.5px solid #3a4340 ;
  background-color:black;
  color:white;
  align-items:center;
  font-size:0.7em;
  padding-top: 3px;;
}

.tiktok-sidebar {
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  font-size:0.7em;
  position:absolute;
  width:20px;
  height:350px;
  right:15px;
  bottom:50px;
}

.tiktok-circle {
   display:block;
   height:35px;
   width: 35px;
   background-color: white; 
   border-radius: 50%;
   margin-bottom: 10px;
   margin-top: 5px;
}

.tiktok-pfp {
    display:block;
    height:20px;
    width: 20px;
    background-color:  #FE2C55 ; 
    border-radius: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8em;
}

.tiktok-captions {
  position:absolute; 
  color:white;
  text-align:left;
  width:70%;
  height:auto;
  bottom:50px;
  margin-left:10px;
  font-size:0.9em;
}

.tiktok-username {
  font-weight:bold;
  font-size:1em !important;
}

.tiktok-icon {
    height:20px;
}

.tiktok-icon2 {
    height:30px;
}


.tiktok-cap1 {
  display:inline;
}

.tiktok-readmore {
  list-style:none;
  display:inline;
  font-weight:bold;
  font-size:0.9em;
}

.tiktok-plus {
    background-color: white;
    height:20px;
    width:30px;
    color:black !important;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.tiktok-plus-back {
    background-color: #25F4EE;
    height:20px;
    width:30px;
    color:black !important;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    margin-left: -5px;
}

.tiktok-plus-back::after {
    content: '';
    background-color: #FE2C55;
    height:20px;
    width:30px;
    color:black !important;
    font-weight: 600;
    border-radius: 5px;
    position: absolute;
    margin-left: 10px;

}

.tiktok-con {
    display:flex;
    flex-direction: column;
    height:40px;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
}

.tiktok-footer-icon {
    height: 20px;
    width:20px;
}


.tiktok-cap1 span:last-child {
  display:none;
}

.tiktok-readmore span:nth-child(2) {
   display: none;
}

figure:has(details.tiktok-one[open]) 
.tiktok-one span:nth-child(2) {
   display: inline;
}

figure:has(details.tiktok-one[open]) 
.tiktok-one span:nth-child(1) {
   display: none;
}

figure:has(details.tiktok-one[open]) 
.tiktok-cap1 span:last-child {
  display:inline;
}

/***youtube***/

.YT-con {
  width:400px; 
  height:auto;
  background-color:#0f0f0f;
  margin-left:auto;
  margin-right:auto;
  font-family:"Roboto", "Arial", "sans-serif";
  color:white;
}

.YT-video-con {
  display:flex;
  width:100%;
}

.YT-video-thumbnail {
  width:100%;
}

.YT-more {
  height:25px;  
}

.YT-details-con {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.YT-details {
  display:block;
  color:white;
  margin-left:50px;
  padding-top:10px;
  padding-bottom:10px;
}

.YT-details::before {
  content:"";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:gray;
  display:inline-block;
  position:absolute;
  margin-left:-40px;
}

.YT-details span:last-of-type {
  color:#7B7C80;
  font-size:0.8em;
}

.YT-thumbnail-con {
  position:relative;
}
.YT-timestamp {
  position:absolute;
  right:10px;
  bottom:8px;
  background:black;
  opacity:0.5;
  padding:3px;
  border-radius:5px;
}



